<h2>Add New Emo Hangout</h2>
{{input disabledBinding="isDisabled" placeholder="Emo's Hangout" valueBinding="hangout"}}
<button type="button"
    {{action "buttonClick"}}>Create New Emo Hangout
</button>
